<div style="font-size: 10px; display: flex;" *ngIf="process">



  <ui-icon-button
    [icon]="'/assets/icons/01-Interface-Essential/42-Multimedia-Controls/button-play.svg'"
    (click)="runExecution()"></ui-icon-button>

  <ui-icon-button
    [icon]="process['showItem']?
    '/assets/icons/01-Interface-Essential/24-View/view-off.svg':
    '/assets/icons/01-Interface-Essential/24-View/view-1.svg'"
    (click)="process['showItem']=!process['showItem']"></ui-icon-button>

  <div style="padding: 5px;"> {{process.inResources?.length}} -> {{process.outResources?.length}}</div>
  <div *ngIf="process['showItem']" style="padding: 5px; width: 250px">
    <div style="font-size: 10px;" *ngFor="let resource of process.inResources;"> {{resource['rom.resource']}} -
      ({{resource['inResources|count']}})
    </div>
  </div>
  <div *ngIf="process['showItem']" style="padding: 5px;width: 250px">
    <div style="font-size: 10px;" *ngFor="let resource of process.outResources;">   {{resource['rom.resource']}}
      ({{resource['outResources|count']}})
    </div>
  </div>

</div>
